<!-- Login form for user -->
<form>
  <div class="form-group" class="container">
    <h4>Please sign in to chat</h4>
    <label for="username">Username:</label>
    <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control" placeholder="username"><br>
    <input type="text" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="password"><br>
    <input type="submit" value="Login" class="btn btn-info" (click)="login()">
  </div>
</form>