<p>home works!</p>

<!--<div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Please note:</h4>
    <p class="mb-0">If a button does not work on the first time you press it, press it again. <br> Some buttons require two presses to function.</p>
</div>-->
<div>
    <h1>Hello!</h1>
    <p>Welcome to the home page.</p>
    <p>Press the buttons below to login or register.</p>
    <p>
      <a class="btn btn-primary" routerLink="login" role="button">Login</a>
    </p>
    <p>
      <a class="btn btn-success" routerLink="register" role="button">Register</a>
    </p>
</div>