<p>home works!</p>
<h4>Hello {{user.username}} !</h4>

<div *ngIf="user.role == 'superadmin' || user.role == 'groupadmin'">
    <h3>Create User</h3>
    <form>
      <input type="text" [(ngModel)]="newUser" name="newUser" id="newUser" class="form-control" placeholder="Username"/><br>
      <input type="text" [(ngModel)]="newEmail" name="newEmail" id="newEmail" class="form-control" placeholder="Email"/><br>
      <select [(ngModel)]="newRole" name="newRole" class="mdb-select md-form">
        <option value="" disabled selected>Select Role</option>
        <option value="user">User</option>
        <option value="groupadmin">Group Admin</option>
        <option value="groupassis">Group Assis</option>
        <option value="superadmin" *ngIf="user.role == 'superadmin'">Super Admin</option>
      </select>
      <input type="submit" value="Create a new user" class="btn btn-info" (click)="createUser()"/><br>
    </form>
    <h3>Create Group</h3>
    <form>
      <input type="text" [(ngModel)]="newGroup" name="newGroup" id="newGroup" class="form-control" placeholder="Groupname"/><br>
      <input type="submit" value="Create a new group" class="btn btn-info" (click)="createGroup()"/><br>
    </form>
    <h3>Add users to group</h3>
    <form>
      <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
        <option value="">Select Group</option>
        <option *ngFor="let g of groups">
          {{g.groupname}}
        </option>
      </select><br>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
    <input type="submit" value="Add users to group" class="btn btn-info" (click)="addUsersToGroup()"/><br>
    </form>
    <h3>Delete users from group</h3>
    <form>
      <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
        <option value="">Select Group</option>
        <option *ngFor="let g of groups">
          {{g.groupname}}
        </option>
      </select><br>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
    <input type="submit" value="Delete users from group" class="btn btn-info" (click)="deleteUsersFromGroup()"/><br>
    </form>
    <h3>Delete Group</h3>
    <form>
      <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
          <option value="">Select Group</option>
          <option *ngFor="let g of groups">
            {{g.groupname}}
          </option>
      </select>
      <input type="submit" value="Delete a group" class="btn btn-info" (click)="deleteGroup()"/>
    </form>
</div>

<div *ngFor="let g of groups">
    <ul>
        <li>{{g.groupname}}</li>
    </ul>
</div>
  
<div *ngIf="user.role == 'superadmin'">
    <h3>Delete User</h3>
    <form>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
          <option value="">Select User</option>
          <option *ngFor="let u of users">
            {{u.username}}
          </option>
      </select>
      <input type="submit" value="Delete a user" class="btn btn-info" (click)="deleteUser()"/>
    </form>
</div>
  
<div *ngFor="let u of users">
    <ul>
      <li>{{u.username}}</li>
    </ul>
</div>

<div *ngIf="user.role == 'superadmin' || user.role == 'groupadmin' || user.role == 'groupassis'">
    <h3>Create Channel</h3>
    <form>
        <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
            <option value="">Select Group</option>
            <option *ngFor="let g of groups">
              {{g.groupname}}
            </option>
        </select>
    </form>
    <form>
      <input type="text" [(ngModel)]="newChannel" name="newChannel" id="newChannel" class="form-control" placeholder="Channelname"/><br>
      <input type="submit" value="Create a new channel" class="btn btn-info" (click)="createChannel()"/><br>
    </form>
    <h3>Delete Channel</h3>
    <form>
      <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
          <option value="">Select Channel</option>
          <option *ngFor="let c of channels">
            {{c.channelname}}
          </option>
      </select>
      <input type="submit" value="Delete a channel" class="btn btn-info" (click)="deleteChannel()"/>
    </form>
    <h3>Add users to channel</h3>
    <form>
      <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
        <option value="">Select Channel</option>
        <option *ngFor="let c of channels">
          {{c.channelname}}
        </option>
      </select><br>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
    <input type="submit" value="Add users to channel" class="btn btn-info" (click)="addUsersToChannel()"/><br>
    </form>
    <h3>Delete users from channel</h3>
    <form>
      <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
        <option value="">Select Channel</option>
        <option *ngFor="let c of channels">
          {{c.channelname}}
        </option>
      </select><br>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
    <input type="submit" value="Delete users from channel" class="btn btn-info" (click)="deleteUsersFromChannel()"/><br>
    </form>
</div>


<h3>Text box in a channel</h3>
  <form>
    <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
      <option value="">Select Channel</option>
      <option *ngFor="let c of channels">
        {{c.channelname}}
      </option>
    </select><br>
    <div>
      <input type="text" id="myText" placeholder="Text here">
      <button class="btn btn-info">Enter</button>
    </div>
  </form>

<input type="submit" value="Log out" class="btn btn-info" (click)="logout()"/>