<h2>Hello {{user.username}}!</h2>
<div class="container">
  <div class="float-right">
    <input type="submit" value="Log out" class="btn btn-warning" (click)="logout()"/>
  </div>
</div><br><br>

<!-- user and group -->
<div *ngIf="user.role == 'superadmin' || user.role == 'groupadmin'" class="form-group" class="container">
    <h3>Create User</h3>
    <form>
      <input type="text" [(ngModel)]="newUser" name="newUser" id="newUser" class="form-control" placeholder="Username"/><br>
      <input type="text" [(ngModel)]="newPassword" name="newPassword" id="newPassword" class="form-control" placeholder="Password"/><br>
      <input type="text" [(ngModel)]="newEmail" name="newEmail" id="newEmail" class="form-control" placeholder="Email"/><br>
      <select [(ngModel)]="newRole" name="newRole" class="mdb-select md-form">
        <option value="" disabled selected>Select Role</option>
        <option value="user">User</option>
        <option value="groupadmin">Group Admin</option>
        <option value="groupassis">Group Assis</option>
        <option value="superadmin" *ngIf="user.role == 'superadmin'">Super Admin</option>
      </select>
      <div class="float-right">
        <input type="submit" value="Create a new user" class="btn btn-info" (click)="createUser()"/><br>
      </div>
    </form><br>
    <h3>Create Group</h3>
    <form>
      <input type="text" [(ngModel)]="newGroup" name="newGroup" id="newGroup" class="form-control" placeholder="Groupname"/><br>
      <div class="float-right">
        <input type="submit" value="Create a new group" class="btn btn-info" (click)="createGroup()"/><br>
      </div>
    </form><br>
    <h3>Delete Group</h3>
    <form>
      <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
          <option value="">Select Group</option>
          <option *ngFor="let g of groups">
            {{g.groupname}}
          </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Delete a group" class="btn btn-info" (click)="deleteGroup()"/>
      </div>
    </form><br>
    <h3>Add users to group</h3>
    <form>
      <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
        <option value="">Select Group</option>
        <option *ngFor="let g of groups">
          {{g.groupname}}
        </option>
      </select>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Add users to group" class="btn btn-info" (click)="addUsersToGroup()"/><br>
      </div>
    </form><br>
    <h3>Delete users from group</h3>
    <form>
      <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
        <option value="">Select Group</option>
        <option *ngFor="let g of groups">
          {{g.groupname}}
        </option>
      </select>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Delete users from group" class="btn btn-info" (click)="deleteUsersFromGroup()"/><br>
      </div>
    </form><br>
</div>

<!-- <div *ngFor="let g of groups" class="container">
    <ul>
        <li>{{g.groupname}}</li>
    </ul>
</div> -->

<!-- delete a user -->
<div *ngIf="user.role == 'superadmin'" class="form-group" class="container">
    <h3>Delete User</h3>
    <form>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
          <option value="">Select User</option>
          <option *ngFor="let u of users">
            {{u.username}}
          </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Delete a user" class="btn btn-info" (click)="deleteUser()"/>
      </div>
    </form><br>
</div>
  
<!-- <div *ngFor="let u of users" class="container">
    <ul>
      <li>{{u.username}}</li>
    </ul>
</div> -->

<!-- channel -->
<div *ngIf="user.role == 'superadmin' || user.role == 'groupadmin' || user.role == 'groupassis'" class="form-group" class="container">
    <h3>Create Channel</h3>
    <form>
        <select [(ngModel)]="groupname" name="groupname" class="mdb-select md-form">
            <option value="">Select Group</option>
            <option *ngFor="let g of groups">
              {{g.groupname}}
            </option>
        </select>
      <input type="text" [(ngModel)]="newChannel" name="newChannel" id="newChannel" class="form-control" placeholder="Channelname"/><br>
      <div class="float-right">
        <input type="submit" value="Create a new channel" class="btn btn-info" (click)="createChannel()"/><br>
      </div>
    </form><br>
    <h3>Delete Channel</h3>
    <form>
      <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
          <option value="">Select Channel</option>
          <option *ngFor="let c of channels">
            {{c.channelname}}
          </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Delete a channel" class="btn btn-info" (click)="deleteChannel()"/>
      </div>
    </form><br>
    <h3>Add users to channel</h3>
    <form>
      <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
        <option value="">Select Channel</option>
        <option *ngFor="let c of channels">
          {{c.channelname}}
        </option>
      </select>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Add users to channel" class="btn btn-info" (click)="addUsersToChannel()"/><br>
      </div>
    </form><br>
    <h3>Delete users from channel</h3>
    <form>
      <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
        <option value="">Select Channel</option>
        <option *ngFor="let c of channels">
          {{c.channelname}}
        </option>
      </select>
      <select [(ngModel)]="username" name="username" class="mdb-select md-form">
        <option value="">Select User</option>
        <option *ngFor="let u of users">
          {{u.username}}
        </option>
      </select>
      <div class="float-right">
        <input type="submit" value="Delete users from channel" class="btn btn-info" (click)="deleteUsersFromChannel()"/><br>
      </div>
    </form><br>
</div>

<!-- <div class="container">
  <form>
    <div calss="form-group" *ngIf="isinRoom">
      <label for="messagecontent">New Message</label>
      <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
    </div>
    <div class="form-group">
      <button *ngIf="isinRoom" (click)="chat(messagecontent)" class="btn btn-primary">Chat</button>
      <button *ngIf="!isinRoom" (click)="joinroom()" class="btn btn-primary">Join</button>
      <button *ngIf="isinRoom" (clich)="leaveroom()" class="btn btn-primary">Leave</button>
    </div>
    <select [(ngModel)]="channelname" name="channelname" class="mdb-select md-form">
      <option value="">Select Channel</option>
      <option *ngFor="let c of channels">
        {{c.channelname}}
      </option>
    </select><br>
  </form>
  <h3>Notices</h3>
    {{roomnotice}}<br>
    <button (click)="clearnotice()" class="btn btn-primary">Clear Notice</button><br>
    <h3>Chat Message for {{currentroom}} - {{numbers}} Active Users</h3>
    <ul>
      <li *ngFor="let message of messages">{{message}}</li>
    </ul>
</div> -->

<div class="container">
  <form>
    <div calss="form-group">
      <label for="messagecontent">New Message</label>
      <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control" placeholder="Enter your words or sentences here..."/>
      <input type="file" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile" class="form-control"/>
    </div>
    <div class="form-group">
      <button (click)="chat(messagecontent)" class="btn btn-primary">Chat</button>
      <button (click)="onUpload()" class="btn btn-success">Submit</button>
    </div>
  </form>
  <img src="images\{{imagepath}}"/>
  <h3>Chat Message</h3>
    <ul>
      <li *ngFor="let message of messages">{{message}}</li>
    </ul>
</div>