<p>login works!</p>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Please note: The default password is 'pwd'</strong><br><br>   
</div>

<h1>Enter your name</h1>

<form (submit) = "loginUser($event)">
  <strong>Username</strong>
  <input [(ngModel)]="username" type="text" placeholder="Username" id="username" name="username" class="form-control">
  <br>
  <strong>Password</strong>
  <input [(ngModel)]="password" type="password" placeholder="Password" id="password" name="password" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<button type="register" class="btn btn-success" routerLink="register">Register</button>